# node modules
node_modules

# MacOS desktop services store
.DS_Store

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless
